.manager-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.manager-title {
  text-align: center;
}

.key {
  font-size: var(--fs-h1);
  margin-top: var(--fs-h1);
  color: var(--color-light);
}

.lock-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lock {
  font-size: var(--fs-h1);
  margin-top: var(--fs-h1);
  color: var(--color-light);
  opacity: 0.3;
}

.manager-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.manager-form-label {
  opacity: 0.7;
  font-size: var(--fs-body);
  margin-bottom: var(--fs-body);
  text-align: center;
  color: var(--clr-accent);
  animation-name: reveal;
  animation-duration: 1s;
}

.manager-form-input-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 2em;
}

.manager-input {
  border: none;
  border-bottom: 1px solid var(--clr-accent);
  outline: none;
  background: transparent;
  width: 15em;
  font-size: var(--fs-h5);
  padding: 1em 0;
  color: var(--clr-light);
  align-self: flex-start;
}

.manager-ul {
  width: 30em;
}

.manager-ul-li-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manager-ul-li-title {
  margin: 0;
  align-self: start;
  color: var(--clr-accent);
  text-transform: capitalize;
}

.hidden-password {
  border: none;
  outline: none;
  background: transparent;
  color: var(--clr-light);
  font-size: var(--fs-h5);
  width: 20em;
}

.manager-ul-li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-h5);
  margin-bottom: 1em;
}

.manager-li-icons {
  color: var(--clr-accent);
  font-size: var(--fs-h5);
  margin-left: 1em;
}

.manager-form-btn-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}
